    <% include partials/_header.ejs %>

<div class = "all-terms-section" id = "main-section">

    <p class = "page-title">ALL TERMS</p>

    <% var alphabet = "abcdefghijklmnopqrstuvwxyz" %>

    <div id = "table-of-contents">
        <% for (var i = 0; i < alphabet.length; i++){ %>
            <a href ="#content-<%= alphabet[i] %>"" class = "content-letter"><%= alphabet[i] %></a> 

            <% if (i == 10 || i == 20 || i == 30){ %> 
                <br>
            <% } %>

        <% } %>
        <br><a href ="#content-other" class = "content-letter">other</a> 
    </div>


    <% for (var i = 0; i < alphabet.length; i++){ %>

        <h3 id = "content-<%= alphabet[i] %>"><%= alphabet[i] %></h3>

        <% terms.forEach(function(term){%>
            <% if (term && term.name[0].toLowerCase() == alphabet[i]){ %>
                <a class = "all-terms-link" href = "/<%= term.link %>"><%= term.name %></a>
            <% } %>
        <% }) %>

    <% } %>

    <h3 id = "content-other">other</h3>

    <% terms.forEach(function(term){%>
        <% if (term && alphabet.indexOf(term.name[0].toLowerCase()) == -1){ %>
            <a class = "all-terms-link" href = "/<%= term.link %>"><%= term.name %></a>
        <% } %>
    <% }) %>



</div>

<% include partials/_footer.ejs %>

