<% include partials/_header.ejs %>

<div id = "main-section" class = "metric-section">

    <br>

    <div class = "key-metrics-section">
        <div class = "key-metric">
            <div class = "metric-heading">Users</div>
            <div class = "metric-num"><%= userCount - 3 %></div>
        </div>
        <div class = "key-metric">
            <div class = "metric-heading">Definitions</div>
            <div class = "metric-num"><%= approvedDefinitionCount %></div>
        </div>
        <div class = "key-metric">
            <div class = "metric-heading">Terms</div>
            <div class = "metric-num"><%= termCount %></div>
        </div>
    </div>

    <div class = "analytics-section">
        <div class = "metric bold">Traffic history</div>

        <p id = "day-selector">Days to fetch:  <input type = "number" min="1" max="14" id = "metrics-num-days" placeholder = "1"/></p>
        <button id = "get-metrics-history">Load Data</button>

        <div class = "analytics-headings">
            <div class = "analytics-date">Date</div><!-- 
         --><div class = "analytics-number">New Definitions</div><!-- 
         --><div class = "analytics-number">Searches</div>
        </div>
    
        <div class = "analytics">
            <% for (key in searchCount){ %>
                <div class = "analytics-date bold"><%= key.toString().substring(0, 15) %></div><!-- 
             --><div class = "analytics-number"><%= newDefinitionCount[key] %></div><!-- 
             --><div class = "analytics-number"><%= searchCount[key] %></div>
                <br>
            <% } %>
        </div>
    </div>

    <br>

    <div class = "metric user-metrics-toggle link"><i class="fas fa-arrow-right"></i> Users</div>

    <div id = "user-metrics-section">

        <% for(var i = 0; i < userCount; i++){ %>
            
            <% var user = users[i] %>

                <div class = "one-user">
                <div class = "metric-table metric-username">
                    <%= (i+1) %>. <a class = "bold" href = "/profile/<%= user.username %>"><%= user.username %></a>
                </div>

                <div class = "metric-table metric-email">
                    <%= user.email %>
                </div>

                <div class = "metric-table metric-date">
                    <% if(user.createdOn){ %>
                        <%= new Date(user.createdOn).toString().substring(0,21); %>
                    <% } %>
                </div>
            </div>

        <% } %>
    </div>

    <br>
    <div class = "metric definition-metrics-toggle link"><i class="fas fa-arrow-right"></i> Approved Definitions</div>

    <div id = "definition-metrics-section">

        <% approvedDefinitions.forEach(function(def){ %>
            <div class = "metric-definition"><a class = "bold" href ="<%= def.term.replace("/", "%2F") %>"><%= def.term %></a> </div>
            <div class = "metric-search-author"><a href ="profile/<%= def.author %>"><%= def.author %></a></div>
            <div class = "metric-definition-author"><%= def.created.toString().substring(0,21) %></div>
            <br>
        <% }) %>

        <br>

        <div class = "metric">Unapproved Definitions</div>

        <% unapprovedDefinitions.forEach(function(def){ %>
            <div class = "metric-definition bold"><a class = "bold" href ="<%= def.term %>"><%= def.term %></a> </div>
            <div class = "metric-definition-author"><a href ="profile/<%= def.author %>"><%= def.author %></a></div>
            <br>
        <% }) %>
    </div>

</div>

<!-- 
<button id = "jesus"> RESTORE DATABASE </button>
I hope you never have to use this again
 -->

<% include partials/_footer.ejs %>

