<!DOCTYPE html>
<HTML>
<HEAD>
    <title>
        <% if (typeof(title) != "undefined"){ %>
            <%= title %>
        <% } else { %>
            Hackterms: a dictionary of programming terms
        <% } %>
    </title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="Hackterms is a crowdsourced dictionary of programming terms. Learn when, where, and why you'd use a particular programming tool, concept, process, or language.">
    <meta name="keywords" content="coding dictionary, hacker terms, hackterms, hack terms, programming dictionary, javascript, html, css, python, stack overflow, wikipedia, mdn, freecodecamp, codecademy, coding, what does, mean, dictionary">


    <!-- FB sharing -->

    <meta property="og:url"                content="https://www.hackterms.com" />
    <meta property="og:title"              content="Hackterms" />
    <meta property="og:description"        content="A dictionary of programming terms" />
    <meta property="og:image"              content="/assets/logo.png" />


    <!-- Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113877652-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113877652-1');
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <meta name="google-signin-client_id" content="285224215537-l5a1ol101rmutrvbcd2omt5r3rktmh6v.apps.googleusercontent.com">


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href ="/assets/style.css"/>
    <!-- <link rel="shortcut icon" type="image/png" href="/assets/icon.png"> -->
</HEAD>
<BODY>


<div class = "alert">

    <span id = "error">
        <%= error %>
    </span>
    <span id = "message">
        <%= message %>
    </span>


</div>

<div id = "header-section">
    <div id = "header-wrapper">
        <div class = "links">
            
            <div cass = "logo-wrapper">
                <a id = "home-link" href = "/">Hackterms</a>
            </div>
            
            <div class = "account">
                <% if (typeof(session.user) == "undefined" || session.user == null){ %>
                    <span class = "signup-space-section">
                        <span id = "signup-label"><button class = "link bold" id = "signup">Sign Up</button></span>
                        <span id = "signup-icon"><i class="fas fa-bars fa-2x" id = "signup"></i></span>
                    </span>
                    <span class = "link" id = "login">Log In</span>
                <% } else if (typeof(session.user) != "undefined" && session.user != null){ %>

                    <div class = "account-options">
                        
                        <i class="fas fa-user-circle link fa-2x" id = "logged-in-options-toggle"></i>
                    </div>                
                <% } %>
            </div>
        </div>

        <div class = "hamburger-menu-options">
            <% if (typeof(session.user) != "undefined" || session.user != null){ %>
                
                <span class = "welcome">Hello, <a href = "/profile"><%= session.user.username %></a></span>
                
                <% if(session.user.newNotifications){ %>
                    <span class = "notifications-button"><i class="far fa-envelope notification-bell link" aria-hidden="true" id = "new-alert"></i></span>
                <% } else {%>
                    <span class = "notifications-button"><i class="far fa-envelope notification-bell link" aria-hidden="true" ></i></span>
                <% } %>

                <% if(session.user.admin == "true" || session.user.admin == true || session.user.moderator == "true"|| session.user.moderator ==  true ){ %>
                    <a href = "/admin"><i class="far fa-id-card" aria-hidden="true" href = "/admin"></i></a>
                <% } %>

                <a href = "/logout" id = "logout">Log out</a>
            <% } %>
        </div>

        <div id = "logo-subheading">A crowdsourced dictionary of coding terms</div>

        <div class = "pop-out" id = "new-definition">
            <div class = "header">
                <i class="fa fa-times fa-2x link" aria-hidden="true" id = "close"></i>
            </div>
            <% if(session.user){ %>
                <div id = "new-definition-modal">
                    <h3>Add a definition</h3>
                    Keep it simple, and follow <a class = "bold" href = "about/darules" target = "_blank"> da rules</a>
                    <br>
                    <p class = "textarea-label">Term</p>
                    <textarea id = "definition-term-textarea" maxlength="40" rows = "1" placeholder = "term"></textarea>
                    <div id = "term-suggestions-section"></div>

                    <div class = "definition-category-section">
                        <span class = "textarea-label"><span class = "new-definition-term"></span> is a:</span><br>
                        <select id = "definition-category-selection" name = "category">
                            <option disabled selected value></option>
                            <option data-category = "language" value="language">Language/Framework/Environment (ex: Perl, React.js)</option>
                            <option data-category = "tool" value="tool">Tool (ex: npm, grunt, Sublime Text)</option>
                            <option data-category = "concept" value="concept">Concept (ex: recursion, hash, MVC)</option>
                            <option data-category = "process" value="process">Process (ex: linting, transpiling, pair programming)</option>
                            <option data-category = "other" value="other">Other</option>
                        </select>
                    </div>


                    <p class = "textarea-label">What does <span class = "new-definition-term"></span> do? When would you use it? What are the pros/cons and alternatives?</p>

                    <textarea id = "new-definition-textarea" maxlength="750" rows = "4" placeholder = "keep it simple, professor!"></textarea>
                    <div id = "new-definition-wrapper">
                        <span id ="formatting-link" class = "link">Formatting</span>
                        <span id = "new-definition-counter" class = "over-char-limit"><span id = "new-definition-char-count">0</span>/750</span>
                    </div>



                    <p class = "textarea-label">Related terms (comma separated, please)</p>
                    <textarea id = "related-term-textarea" maxlength="500" rows = "2" placeholder = "related terms"></textarea>
                    <div id = "related-term-suggestions-section"></div>
                    <div class = "new-definition-error"></div>
                    <button id = "add-definition" data-id = "0">Add</button>
                    <div id = "add-click-light"></div>          <!-- testing whether the button is getting clicked -->
                    <div id = "add-click-message"></div>          <!-- testing whether the button is getting clicked -->
                </div>
            <% } %>
        </div>

        <div class = "pop-out" id = "report">
            <div class = "header">
                <i class="fa fa-times fa-2x link" aria-hidden="true" id = "close"></i>
            </div>
            <div class = "report-body">
                <h3>Report a definition</h3>
                <div id = "report-content"></div>
                <p>This should be removed because:</p>

                <input id = "report-offensive" type="radio" name = "report" class = "report-option" data-reason = "offensive">
                <label for="report-offensive">it contains offensive or abusive content</label><br>
                
                <input id = "report-spam" type="radio" name = "report" class = "report-option" data-reason = "spam">
                <label for="report-spam">it is spam or advertisement</label><br>
                
                <input id = "report-wrong" type="radio" name = "report" class = "report-option" data-reason = "wrong">
                <label for="report-wrong">it is completely incorrect</label><br>
                
                <input id = "report-irrelevant" type="radio" name = "report" class = "report-option" data-reason = "irrelevant">
                <label for="report-irrelevant">it is not related to programming</label><br>
                
                <input id = "report-other" type="radio" name = "report" class = "report-option" data-reason = "other">
                <label for="report-other">other</label><br>
                
                <div class ="report-error"></div>
                
                <button id = "submit-report">Submit</button>

            </div>
        </div>

        <div class = "pop-out" id = "notifications">
            <div class = "notifications-body">
                <div class = "notifications-header"><i class="fa fa-times link" aria-hidden="true" id = "close"></i></div>
                <div class = "notification-panel notification-control scroll-up"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
                
                <div id = "notifications-section">
                </div>
                
                <div class = "notification-panel notification-control scroll-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
            </div>
        </div>

        
        <div class = "pop-out skinny" id = "signup-modal">
            <div class = "header">
                <i class="fa fa-times fa-2x link" aria-hidden="true" id = "close"></i>
            </div>
            <div id = "signup-section">
                <form>
                    <div class = "account-title">
                        <span class = "sign-up-link active-account-title"> Sign up</span> | <span class = "login-link"> Log in</span> 
                    </div>
                    
                    <div class = "report-error email-error"></div>
                    <input type = "email" name = "email" id = "signup-email" placeholder = "email">
                    
                    <div class = "report-error username-error"></div>
                    <input type = "text" name = "username" id = "signup-username" placeholder = "username">
                    
                    <div class = "report-error password-error"></div>
                    <input type = "password" name = "password" id = "signup-password" placeholder = "password">
                </form>
                
                <button class = "account-submit-button" id = "signup-action">Sign up</button>

                <hr>

                <div id = "login-oauth-wrapper">
                    <div class="g-signin2" id = "google-signin" data-theme="dark" data-onsuccess="onSignIn"></div>
                    <a id = "github-login" href = "https://github.com/login/oauth/authorize?scope=user:email&client_id=029b90872503557c3d0e">
                        <div class = "github-logo-wrapper"><i class="fab fa-github"></i></div>
                        <div class = "github-logo-label">Sign in</div>
                    </a>
                </div>
            </div>
        </div>

        <div class = "pop-out skinny" id = "login-modal">
            <div class = "header">
                <i class="fa fa-times fa-2x link" aria-hidden="true" id = "close"></i>
            </div>
            <div id = "login-section">
                <form>
                    <div class = "account-title">
                        <span class = "sign-up-link"> Sign up</span> | <span class = "login-link active-account-title"> Log in</span> 
                    </div>

                    <div class = "report-error username-error"></div>
                    <input type = "text" name = "username" id = "login-username" placeholder = "username">
                    
                    <div class = "report-error password-error"></div>
                    <input type = "password" name = "password" id = "login-password" placeholder = "password">


                    <div class = "login-additional-options">
                        <div class = "stay-signed-in">
                            <input type = "checkbox" id = "hidden-remember-account-checkbox">
                            <i class="far fa-square" aria-hidden="true" id = "remember-account"></i>
                            <span class = "toggle-label">Remember me</span>
                        </div>
                        <div class = "link" id = "password-reset-link">Forgot your password?</div>
                    </div>
                </form>

                <button class = "account-submit-button" id = "login-action">Log In</button>

                <hr>

                <div id = "login-oauth-wrapper">
                    <div class="g-signin2" id = "google-signin" data-theme="dark" data-onsuccess="onSignIn"></div>
                    <a id = "github-login" href = "https://github.com/login/oauth/authorize?scope=user:email&client_id=029b90872503557c3d0e">
                        <div class = "github-logo-wrapper"><i class="fab fa-github"></i></div>
                        <div class = "github-logo-label">Sign in</div>
                    </a>
                </div>

                
            </div>
        </div>

        <div class = "pop-out skinny" id = "password-reset-modal">
            <div class = "header">
                <i class="fa fa-times fa-2x link" aria-hidden="true" id = "close"></i>
            </div>
            <div id = "password-reset-section">   
                <div class = "account-title">
                    <span class = "sign-up-link"><span class = "login-link active-account-title">Reset your password</span></span> 
                </div>

                <p>Enter the the email address that you used to register and we'll send you a link to reset your password!</p>
                <p id = "reset-request-confirm">If we have your email on file, you will receive an instructions to reset your password shortly!</p>

                <div class = "report-error email-error"></div>
                <input type = "email" id = "password-reset-email" placeholder = "email">

                <button class = "account-submit-button" id = "password-reset-action">Send Email</button>
            </div>
        </div>

        <div class = "pop-out skinny" id = "request-definition-modal">
            
            <div class = "header">
                <i class="fa fa-times fa-2x link" aria-hidden="true" id = "close"></i>
            </div>
            <div id = "request-definition-section">

                <div id = "request-definition-form">
                    <div class = "account-title request-definition-title">
                        <span class = "active-account-title">Request a Definition</span>
                    </div>

                    <p id = "request-definition-section-instructions">What term do you want to request a definition for? We'll email you once a new definition is added.</p>
                    <div class = "report-error request-definition-error"></div>
                    <input type = "text" id = "request-definition-term" placeholder = "term">

                    <button class = "account-submit-button" id = "request-definition-action">Request Definition</button>
                </div>

                <div id = "request-definition-confirmation">
                    <div class = "account-title request-definition-title">
                        <span class = "active-account-title">Definition Requested</span>
                    </div>
                    <i class='fas fa-check fa-3x confirmation-check'></i>
                    <p class = "request-definition-confirm-text">We've logged your request for our contributors. You'll get an email when a definition is added!</p>
                    <button class = "account-submit-button" id = "close-request-definition-modal">Cool!</button>
                </div>
            </div>

                
        </div>

        <div class = "pop-out skinny" id = "request-login-modal">
            
            <div class = "header">
                <i class="fa fa-times fa-2x link" aria-hidden="true" id = "close"></i>
            </div>
            <div id = "request-definition-section">
               <div class = "account-title request-definition-title">
                    <span class = "active-account-title">Request a Definition</span>
                </div>

                <p id = "request-definition-section-instructions">Please <span class = "link bold login-link">log in</span> or <span class = "link bold sign-up-link">sign up</span> to request a definition. This will alert our contributors, and we'll email you once a definition is added!</p>
            </div>
        </div>


        <% if (typeof(searchTerm) != "undefined") { %>
            <div id = "search-bar-div">
                <p id = "search-bar-label">learn about a coding term - <a class = "bold" href = "/about/all">see all</a> or  <a  class = "bold"  href = "/random-term">random</a> </p>
                

                <% if (typeof(session.user) != "undefined" || session.user != null){ %>
                    <input type = "text" data-lpignore="true" maxlength = "40" id = "search-bar" value = "<%= searchTerm %>" placeholder = "ex: javascript" autofocus><!-- 
                    --><button class = "search-add-button new-def-link"><i class="fas fa-lg fa-plus"></i></button>
                <% } else { %>
                    <input type = "text" data-lpignore="true" maxlength = "40" id = "search-bar" value = "<%= searchTerm %>" placeholder = "ex: javascript" autofocus><!-- 
                    --><button class = "search-add-button login-link"><i class="fas fa-lg fa-plus"></i></button>
                <% } %>


                <div id = "terms-section"></div>

                <div id = "new-top-searches"><i class="fas fa-bolt"></i> Trending: </div>

                <div id = "new-top-requests"><i class="fas fa-fire"></i> Most requested: </div>



            </div>
        <% } %>
    </div>
</div>

<div id = "feedback-button">
    <i class="far fa-times-circle fa-lg link" id = "feedback-close"></i>
    <a href = "https://goo.gl/kU4AS5" target= "_blank" id = "feedback-label">Feedback</a>
</div>

<div class = "container">



    
<!--  the closing div tag is in the _footer.ejs file in this folder -->
    


   
